
<footer class="footer">
    <div class="footer--cta">
      <a href="" class="footer--cta-primary" title="Carbon.io documentation">Read the Documentation</a>
      <a href="" class="footer--cta-secondary" title="Carbon.io on Github">View Carbon.io on Github</a>
    </div>

    <div class="footer--content">
      <div class="footer--top-row">
        <a href="/" title="Carbon.io home"><%- include("images/logo--dark.svg", { className: "footer--logo" }) %></a>

        <div class="footer--links">
          <a class="footer--link" href="" title="Carbon.io documentation">Documentation</a>
          <a class="footer--link" href="" title="Carbon.io community">Community</a>
          <a class="footer--link" href="" title="Carbon.io on Github">Github</a>
          <a class="footer--link" href="" title="Carbon.io support">Support</a>
        </div>
      </div>

      <div class="footer--bottom-row">
        <div>
          This software is licensed under the <a href="" title="MIT open source license">MIT Open-source License</a>
        </div>

        <div class="footer--license">
          Made with <img class="footer--heart" src="images/heart-emoji.png" alt="<3"> by <a href="https://mlab.com/" title="mLab">mLab</a>
        </div>
      </div>
    </div>
</footer>
