
<footer class="footer">
    <div class="footer--cta">
      <a href="" class="footer--cta-primary">Read the Documentation</a>
      <a href="" class="footer--cta-secondary">View Carbon.io on Github</a>
    </div>

    <div class="footer--content">
      <div class="footer--top-row">
        <a href="/">
          <img src="/images/logo--dark.svg" alt="Carbon.io logo" class="footer--logo">
        </a>

        <div>
          <a class="footer--link" href="">Documentation</a>
          <a class="footer--link" href="">Community</a>
          <a class="footer--link" href="">Github</a>
          <a class="footer--link" href="">Support</a>
        </div>
      </div>

      <div class="footer--bottom-row">
        <div>
          This software is licensed under the <a href="">MIT Open-source License</a>
        </div>

        <div>
          Made with < 3 by <a href="https://mlab.com/">mLab</a>
        </div>
      </div>
    </div>
</footer>
