
<nav js-navigation class="navigation">
  <img class="navigation--logo" src="/images/logo-mark--light.svg" alt="Carbon.io logo mark">
  <div class="navigation--links">
    <a class="navigation--link" href="http://docs.carbon.io/">Documentation</a>
    <a class="navigation--link" href="">Community</a>
    <a class="navigation--link" href="https://github.com/carbon-io/carbon-io/">Github</a>
    <a class="navigation--link" href="">Support</a>
  </div>
</nav>
