
<nav js-navigation class="navigation">
  <a href="/" title="Carbon.io home">
    <%- include("images/logo-mark--light.svg", { className: "navigation--logo" })%>
  </a>

  <div class="navigation--links">
    <a target="_blank" class="navigation--link" href="https://docs.carbon.io/en/latest" title="Carbon.io documentation">Documentation</a>
    <a target="_blank" class="navigation--link" href="https://github.com/carbon-io/carbon-io/" title="Carbon.io on GitHub">GitHub</a>
    <a target="_blank" class="navigation--link" href="https://docs.carbon.io/en/latest/support.html" title="Carbon.io Support">Support</a>
  </div>

  <div class="navigation--mobile">
    <div class="navigation--mobile-toggle" js-toggle-mobile-navigation>
      <div class="navigation--mobile-toggle-line"></div>
      <div class="navigation--mobile-toggle-line"></div>
      <div class="navigation--mobile-toggle-line"></div>
    </div>

    <div class="navigation--mobile-links" js-mobile-navigation>
      <a target="_blank" class="navigation--mobile-link" href="https://docs.carbon.io/en/latest" title="Carbon.io documentation">Documentation</a>
      <a target="_blank" class="navigation--mobile-link" href="https://github.com/carbon-io/carbon-io/" title="Carbon.io on Github">Github</a>
      <a target="_blank" class="navigation--mobile-link" href="https://docs.carbon.io/en/latest/support.html" title="Carbon.io Support">Support</a>
    </div>
  </div>
</nav>
