
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}


html {
  box-sizing: border-box;
  font-size: 15px;
  overflow-x: hidden;
}


body {
  margin: 0;
  font-family: $font-family--sans-serif;
  background-color: $color--white;
  overflow-x: hidden;

  @include media--small {
    cursor: pointer;
  }
}


pre,
code {
  font-family: $font-family--monospace;
  z-index: 1;
  position: relative;

  @include media--mobile-landscape {
    font-size: $font-size--normal * 0.8;
  }
}


mark {
  background-color: transparent;
  color: inherit;
}


a {
  color: $color--blue;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


h1 {
  font: {
    weight: bold;
    size: $font-size--large;
  }
  line-height: 1.3em;
  color: $color--blue-pale;
  margin-bottom: 0;
  padding-bottom: $vertical-spacing--large;
}


h2 {
  font-size: $font-size--medium;
  line-height: $font-size--medium * $multiplier--medium;
}


p {
  color: $color--gray;
  font-size: $font-size--normal;
  line-height: #{$multiplier--medium}em;

  code {
    font-size: 0.9em;
  }

  @include media--small {
    font-size: $font-size--normal * 1.2;
  }

  @include media--mobile-landscape {
    font-size: $font-size--normal * 0.8;
  }
}


ul {
  color: $color--gray;
  font-size: $font-size--normal;
  line-height: #{$multiplier--medium}em;
  padding-left: $horizontal-spacing--medium;

  code {
    font-size: 0.9em;
  }

  @include media--small {
    font-size: $font-size--normal * 1.2;
  }

  @include media--mobile-landscape {
    font-size: $font-size--normal * 0.8;
  }
}

li {
  @include media--small {
    margin-top: $vertical-spacing--normal;

    & + & {
      margin-top: 0;
    }
  }
}


pre {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: $font-size--normal * 0.85;

  &[class*="language-"] {
    padding: $vertical-spacing--small $horizontal-spacing--normal;
    margin: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @include media--small {
      margin-left: -$horizontal-spacing--normal;
      margin-right: -$horizontal-spacing--normal;
    }
  }

  @include media--small {
    display: block;
    font-size: $font-size--normal * 0.9;
  }
}


[class*="language-"] {
  color: $syntax--default-color;
  background: none;
  font-family: Monaco, "Roboto Mono", "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  border-radius: $border-radius--large;
  hyphens: none;

  &::selection,
  & ::selection {
    background: #b3d4fc;
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @include box-shadow--large();
  
  background-color: $syntax--background;
  background-image: linear-gradient($syntax--background, lighten($syntax--background, 5%));
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}


.keyline {
  @include keyline();
  display: block;
  margin: auto {
    top: $vertical-spacing--large;
  }
}

mark {
  &.no-highlight {
    background-color: rgba(0, 0, 0, 0);
    color: $syntax--default-color;
  }
}
