
%container {
  width: 100%;
  max-width: 100vw;

  @include media--small {
    padding: {
      left: $horizontal-spacing--medium;
      right: $horizontal-spacing--medium;
    }
  }

  @include media--mobile-landscape {
    padding: {
      left: $horizontal-spacing--medium;
      right: $horizontal-spacing--medium;
    }
  }

  @include media--medium {
    $padding: calc((100% - #{$container-width--medium}) / 2);

    padding: {
      left: $padding;
      right: $padding;
    }
  }

  @include media--large {
    $padding: calc((100% - #{$container-width--large}) / 2);

    padding: {
      left: $padding;
      right: $padding;
    }
  }

  @include media--xlarge {
    $padding: calc((100% - #{$container-width--xlarge}) / 2);

    padding: {
      left: $padding;
      right: $padding;
    }
  }
}
