
@import "../lib/prism";

.splash {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  background: {
    color: $color--blue;
    image: linear-gradient(transparent, rgba($color--white, 0.1), rgba($color--white, 0.2), $color--white),
           linear-gradient(-130deg, $color--blue, $color--orange);
  }

  @include media--small {
    min-height: 800px;
    position: relative;
  }


  &--particles {
    pointer-events: none;
    position: absolute;
    bottom: -35vh;
    left: 0;
    right: 0;
    opacity: 0.7;

    @include media--small {
      bottom: 0;
      top: 200px;
    }
  }


  &--content-section {
    @extend %container;

    display: flex;
    align-items: center;
    max-height: calc(100vh - #{$navigation--height * 2});
    flex-grow: 1;
    position: relative;

    @include media--small {
      flex-direction: column;
      padding: {
        left: $horizontal-spacing--small;
        right: $horizontal-spacing--small;
      }
    }
  }


  &--header-group {
    transition: opacity 1s ease-out;
    opacity: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &.s-visible {
      opacity: 1;
    }

    @include media--small {
      display: block;
      align-items: center;
      margin: {
        top: $vertical-spacing--large;
        bottom: $vertical-spacing--large;
      }
    }

    @include media--medium {
      flex-direction: column;
      align-items: center;
    }
  }

  
  &--header-logo-container {
    padding-right: $horizontal-spacing--large;
    flex-shrink: 0;
    width: 40%;
    text-align: right;

    @include media--small {
      width: 100%;
      text-align: center;
      padding-right: 0;
    }
  }


  &--header-logo {
    height: 60px;

    @include media--small {
      height: 40px;
      margin: auto;
    }
  }


  &--header-text-container {
    flex-grow: 1;
    width: 60%;

    @include media--small {
      width: 100%;
      flex-grow: 0;
    }

    @include media--medium {
      width: 100%;
    }

    @include media--xlarge {
      padding-right: 70px;
    }
  }


  &--header-text {
    $color-mix: mix($color--blue, $color--orange);

    @include text-shadow--small($color-mix);

    font-weight: lighter;
    color: $color--white;
    margin-top: 0;

    @include media--small {
      margin-top: $vertical-spacing--large;
      font-size: $font-size--medium - 1px;
      text-align: center;
    }

    @include media--medium {
      margin-top: $vertical-spacing--xlarge;
      text-align: center;
    }
  }

  
  $cta--height: $vertical-spacing--normal * 2 + $font-size--normal;
  &--cta {
    @extend %container;

    transition: opacity 1s ease-out;
    opacity: 0;
    position: absolute;
    top: calc(100vh - #{$navigation--height + $cta--height + $vertical-spacing--xlarge});
    left: 0;
    right: 0;
    text-align: center;

    &.s-visible {
      opacity: 1;
    }

    @include media--tall {
      top: calc(100vh - #{$navigation--height + $cta--height + $vertical-spacing--xlarge * 2});
    }

    @include media--small {
      position: static;
      margin-bottom: $vertical-spacing--xlarge;
    }
  }


  $color-mix: mix(mix($color--blue, $color--orange, 45%), $color--white, 70%);

  &--cta-primary {
    @include button($color-mix, $color--white, false);

    width: 240px;

    @include media--small {
      width: 100%;
      max-width: 300px;
    }
  }


  &--cta-secondary {
    @include button($color--white, $color-mix, true);

    width: 240px;
    margin-left: $horizontal-spacing--normal;

    @include media--small {
      margin-left: 0;
      margin-top: $vertical-spacing--normal;
      width: 100%;
      max-width: 300px;
    }
  }
}


.terminal {
  display: block;
  white-space: normal;
  font-size: $font-size--normal * 0.85;

  &--command,
  &--feedback {
    position: relative;
    display: inline-block;
    min-height: $font-size--medium;

    &:last-child {
      margin-bottom: $vertical-spacing--small;
    }
   
    &.s-active:after {
      content: "";
      width: 7px;
      display: inline-block;
      height: $font-size--normal * 0.9;
      margin-top: auto;
      background-color: $color--black;
      transform: translateY(2px) scaleY(1.2);
    }

    &.s-blink:after {
      animation: blink-cursor 1.5s steps(2, start) infinite;
    }
  }


  &--command {
    &:before {
      content: "$";
      display: inline;
      color: $color--gray-tint;
      margin-right: 0.5em;
    }
  }


  &--check {
    color: $color--green;
    font-weight: bold;
  }
}


@keyframes blink-cursor {
  from { visibility: visible; }
  to { visibility: hidden; }
}


.carousel {
  $transition-timing: 0.7s;

  position: relative;
  margin-bottom: $vertical-spacing--xlarge * $multiplier--medium;

  &--triple-feature {
    display: flex;
    justify-content: center;
    margin-bottom: $vertical-spacing--xlarge * $multiplier--medium;

    @include media--small {
      display: none;
    }
  }

  &--triple-feature-group {
    transition: opacity 0.1s ease-in;
    cursor: pointer;
    opacity: 0.3;
    display: flex;
    align-items: center;
    color: $color--gray;
    font-size: $font-size--medium;
    font-weight: lighter;

    &:hover {
      opacity: 0.5;
    }

    &.s-active {
      opacity: 1;
    }

    @include media--small {
      flex-direction: column;
      margin: auto;
    }

    & + & {
      margin-left: $horizontal-spacing--large;
      padding-left: $horizontal-spacing--large;
      position: relative;

      @include media--small {
        padding-left: 0;
        margin-left: auto;
        margin-top: $vertical-spacing--xlarge;
      }
    }
  }

  &--triple-feature-icon {
    height: $font-size--large * $multiplier--medium;
    margin-right: $horizontal-spacing--normal;
    opacity: 0.8;

    @include media--small {
      margin-right: 0;
    }
  }

  &--control {
    @include box-shadow--small($color--blue, true, true);

    transition: box-shadow 0.15s ease-out, all 0.1s ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    height: $font-size--large;
    width: $font-size--large;
    margin: auto;
    border: {
      width: 1px;
      style: solid;
      color: $color--blue;
      radius: 100%;
    }
    z-index: 1;
    background-color: rgba($color--white, $multiplier--small);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media--small {
      top: calc(100% + #{$vertical-spacing--large - $font-size--large / 4});
      bottom: initial;
    }

    @include media--small {
      display: none;
    }

    &.s-disabled {
      pointer-events: none;
      opacity: 0.2;
      border-color: desaturate($color--blue, 30%);

      & > svg {
        opacity: 0.5;
      }
    }

    &:hover {
      background-color: lighten($color--white, 5%);
      background-image: linear-gradient(145deg, rgba($color--white, 0.1), transparent);

      &.m-forward {
        & > svg {
          transform: translate3d(2px, 0, 0);
        }
      }

      &.m-back {
        & > svg {
          transform: translate3d(-2px, 0, 0);
        }
      }
    }

    &:active {
      background-color: darken($color--white, 3%);

      &.m-forward {
        & > svg {
          transform: translate3d(4px, 0, 0);
        }
      }

      &.m-back {
        & > svg {
          transform: translate3d(-4px, 0, 0);
        }
      }
    }

    &.m-back {
      left: $horizontal-spacing--normal;

      & > svg {
        right: 1px;
      }
    }

    &.m-forward {
      right: $horizontal-spacing--normal;

      & > svg {
        left: 1px;
      }
    }

    & > svg {
      transition: transform 0.1s ease-in-out;
      height: $font-size--medium;
      position: relative;
    }
  }


  &--group-wrapper {
    transition: transform $transition-timing ease-in-out;
    display: flex;

    @include media--small {
      flex-direction: column;
    }
  }


  &--group {
    @extend %container;

    transition: transform $transition-timing ease-in-out, opacity #{$transition-timing / 2} ease-in-out;
    display: flex;
    flex-shrink: 0;

    &.s-inactive {
      transform: scale(0.7);
      opacity: 0;

     @include media--small {
        transform: scale(1);
        opacity: 1;
      }
    }

    @include media--small {
       & + & {
         margin-top: $vertical-spacing--xlarge;
       }
     }

    @include media--small {
      flex-direction: column;
    }
  }


  &--column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.m-small {
      width: 40%;
      max-width: 40%;
    }

    &.m-large {
      width: 60%;
      flex-shrink: 0;
    }

    & + & {
      padding-left: $horizontal-spacing--large;
    }

    @include media--small {
      &.m-small,
      &.m-large {
        width: 100%;
        max-width: 100%;
      }

      & + & {
        padding-left: 0;
        padding-top: $vertical-spacing--large;
      }
    }
  }


  &--window-chrome {
    font-family: $font-family--monospace;
    height: $vertical-spacing--small * 2 + $font-size--small;
    position: absolute;
    top: 0;
    left: $horizontal-spacing--normal;
    right: $horizontal-spacing--normal;
    border-bottom: 1px solid rgba($color--gray, $multiplier--small);
    font-size: $font-size--normal * 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color--gray;
    z-index: 2;

    &.m-terminal {
      background-color: black;
    }

    &.m-code {
      background-color: $syntax--background;
    }

    @include media--small {
      left: 0;
      right: 0;
    }
  }


  &--window-controls {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }


  &--window-control {
    width: $font-size--small;
    min-width: $font-size--small;
    height: $font-size--small;
    min-height: $font-size--small;
    flex-shrink: 0;
    // HACK
    // TODO: Figure out why this display property
    //       fixes the control box model;
    display: inline-table;
    border: {
      width: 1px;
      style: solid;
      radius: 100%;
    }

    &.m-red {
      background-color: #FF564F;
      border-color: #DE403B;
    }

    &.m-yellow {
      background-color: #FFB429;
      border-color: #DD9819;
    }

    &.m-green {
      background-color: #24C339;
      border-color: #15A429;
    }

    & + & {
      margin-left: $horizontal-spacing--small * $multiplier--small;
    }
  }


  &--header {
    color: $color--blue-pale;
    max-width: 350px;

    @include media--small {
      display: none;
    }

    &.m-mobile {
      display: none;

      @include media--small {
        display: block;
      }
    }
  }


  &--header-keyline {
    &:after {
      @include keyline($color--orange);

      content: "";
    }

    &:first-of-type {
      margin-bottom: $vertical-spacing--medium;

      @include media--small {
        display: none;
      }
    }

    &:last-of-type {
      margin-top: $vertical-spacing--normal;
    }
  }


  &--terminal-wrapper,
  &--code-wrapper {
    position: relative;

    code {
      margin-top: 1rem;
    }
  }


  &--terminal-wrapper {
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 50%;
      left: 0;
      right: 0;
      background-image: linear-gradient(rgba($color--white, 1), rgba($color--white, 0));
      pointer-events: none;
    }

    @include media--small {
      display: none;
    }
  }


  &--code,
  &--code[class*="language-"] {
    max-height: 550px;
    padding-top: $vertical-spacing--medium;

    @include media--small {
      max-height: 10000px;
      padding-top: $vertical-spacing--large;
      transform: translateZ(0);
      overflow: hidden;
    }
  }


  &--docs-image {
    @include box-shadow--large($color--black, true);

    height: 100%;
    max-height: 550px;
    background: {
      color: white;
      image: url("../images/docs.png");
      position: center $vertical-spacing--normal;
      size: 90%;
      repeat: no-repeat;
    }
    border-radius: $border-radius--large;

    @include media--small {
      height: 350px;
      margin: {
        left: -$horizontal-spacing--normal;
        right: -$horizontal-spacing--normal;
      }
    }
  }


  &--terminal {
    padding: 0;
    background-color: rgba($color--white, 0);
    height: 250px;
    color: $color--black;
    line-height: $font-size--normal * $multiplier--medium;
    border-radius: $border-radius--large;
    font-size: $font-size--normal * 0.9;
    display: flex;
    align-items: flex-end;
    margin: {
      top: 0;
      bottom: 0;
    }

    // Firefox hide scrollbar hack
    @-moz-document url-prefix() {
      overflow-x: hidden;
    }

    & > code {
      max-height: 100%;
      align-self: flex-end;
      overflow-y: auto;
      padding-top: 80px;

      // Hide overflow scrollbar
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 0 rgba($color--white, 0);
        background-color: rgba($color--white, 0);
      }

      // Firefox hide scrollbar hack
      @-moz-document url-prefix() {
        width: calc(100% + 14px);
        padding-right: 14px;
        margin-right: -14px;
      }
    }

    @include media--small {
      margin: {
        left: -$horizontal-spacing--normal;
        right: -$horizontal-spacing--normal;
      }
    }
  }


  &--pagination {
    position: absolute;
    top: calc(100% + #{$vertical-spacing--large});
    left: 0;
    right: 0;
    margin: auto;
    height: 6px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: {
      top: $vertical-spacing--small;
      bottom: $vertical-spacing--small;
    }
  }


  &--pagination-indicator {
    @include keyline(rgba($color--gray-tint, $multiplier--xsmall));

    transition: background-color 0.2s ease-out, height 0.08s ease-out;
    cursor: pointer;
    border-radius: 50px;

    .carousel--pagination:hover & {
      height: 6px;
    }

    &.s-active {
      background-color: $color--black;
    }

    & + & {
      margin-left: $horizontal-spacing--small;
    }
  }
}


.example {
  @extend %container;

  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  display: flex;
  padding: {
    top: $vertical-spacing--xlarge * $multiplier--medium;
    bottom: $vertical-spacing--xlarge * $multiplier--medium;
  }
  opacity: 0;
  transform: translate3d(0, 20px, 0);

  @include media--small {
    opacity: 1;
    transform: none;
  }

  @include media--mobile-landscape {
    opacity: 1;
    transform: none;
  }

  &.s-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  @include media--small {
    flex-direction: column;
    padding: {
      top: $vertical-spacing--xlarge;
      bottom: $vertical-spacing--xlarge;
    }
  }

  
  &--left {
    width: 40%;
    text-align: right;
    padding-right: $horizontal-spacing--large;

    @include media--small {
      width: 100%;
      text-align: left;
      padding-right: 0;
    }
  }


  &--right {
    width: 60%;
    position: relative;
    top: $font-size--large * 1.05;

    @include media--small {
      width: 100%;
    }
  }


  &--header {
    position: relative;

    &:after {
      @include keyline($color--orange);

      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      @include media--small {
        left: 0;
        right: auto;
      }
    }
  }


  &--link {
    margin-top: $vertical-spacing--normal;
    display: block;
  }

  
  &--toggles {
    margin-top: $vertical-spacing--xlarge;
    position: relative;
    top: 1px;
    z-index: 5;

    @include media--small {
      margin-left: -$horizontal-spacing--normal;
      margin-right: -$horizontal-spacing--normal;
      top: 2px;
    }

    & ~ .example--code,
    & ~ .example--code[class*="language-"] {
      margin-top: 0;
      border-radius: 0 $border-radius--large $border-radius--large $border-radius--large;
      padding: {
        left: 0;
        right: 0;
      }

      > code {
        overflow-x: auto;
        display: block;

        padding: {
          left: $horizontal-spacing--small;
          right: $horizontal-spacing--small;
        }

      }
    }
  }


  &--diagram {
    margin-top: $vertical-spacing--medium;

    &.m-mobile {
      display: none;
      max-width: 220px;
      margin-top: $vertical-spacing--large;
      margin: {
        left: auto;
        right: auto;
      }
    }

    @include media--small {
      display: none;

      &.m-mobile {
        display: block;
      }
    }
  }
  

  &--toggle {
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
    background-color: darken($syntax--background, 5%);
    display: inline-block;
    color: $color--gray;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: {
      top: $vertical-spacing--small;
      bottom: $vertical-spacing--small;
      left: $horizontal-spacing--medium;
      right: $horizontal-spacing--normal;
    }
    border-radius: $border-radius--large $border-radius--large 0 0;
    font-family: $font-family--monospace;
    font-size: $font-size--normal * 0.8;

    @include media--small {
      max-width: 40%;
      padding: {
        top: $vertical-spacing--small;
        bottom: $vertical-spacing--small;
        left: $horizontal-spacing--normal;
        right: $horizontal-spacing--small;
      }

      > span {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &:after {
      transition: background-color 0.1s ease-out;
      content: "";
      background-color: darken($syntax--background, 5%);
      position: absolute;
      right: -10px;
      top: 0;
      bottom: 0;
      border-radius: 0 $border-radius--large 0 0;
      width: 20px;
      -webkit-transform: skewX(10deg);
      transform: skewX(10deg);
    }

    &:not(:first-of-type) {
      padding-left: $horizontal-spacing--normal;

      @include media--small {
        padding-left: $horizontal-spacing--small;
      }

      &:before {
        transition: background-color 0.1s ease-out;
        content: "";
        background-color: darken($syntax--background, 5%);
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        border-radius: $border-radius--large 0 0 0;
        width: 20px;
        -webkit-transform: skewX(-10deg);
        transform: skewX(-10deg);
      }

      &.s-active:before,
      &.s-active:hover:before,
      &.s-active:active:before {
        background-color: $syntax--background;
      }

      &:hover:before {
        background-color: darken($syntax--background, 8%);
      }

      &:active:before {
        background-color: darken($syntax--background, 10%);
      }
    }

    &:hover {
      background-color: darken($syntax--background, 8%);
      color: lighten($color--gray, 10%);

      &:after {
        background-color: darken($syntax--background, 8%);
      }
    }

    &:active {
      background-color: darken($syntax--background, 10%);
      color: lighten($color--gray, 30%);

      &:after {
        background-color: darken($syntax--background, 10%);
      }
    }

    &.s-active {
      background-color: $syntax--background;
      color: $color--white;
      cursor: default;
      z-index: 2;

      &:hover {
        text-decoration: none;
      }

      &:after {
        background-color: $syntax--background;
      }
    }

    & + & {
      margin-left: $horizontal-spacing--small + 1px;
    }
  }


  &--code,
  &--code[class*="language-"] {
    margin-top: $vertical-spacing--large;
    
    &[js-code-block] {
      display: none;
    }

    @include media--small {
      display: flex;
    }

    &.s-visible {
      display: block;
    }

    + p {
      margin-top: $vertical-spacing--large;
    }

    &.m-terminal {
      @include box-shadow--large();

      background-color: $syntax--background;
      color: $syntax--default-color;
      font-family: $font-family--monospace;
    }
  }


  &--docs-image {
    @include box-shadow--large($color--black, true);

    margin-top: $vertical-spacing--large;
    height: 550px;
    background: {
      color: white;
      image: url("../images/docs.png");
      position: center $vertical-spacing--normal;
      size: 90%;
      repeat: no-repeat;
    }
    border-radius: $border-radius--large;

    @include media--small {
      margin: {
        left: -$horizontal-spacing--normal;
        right: -$horizontal-spacing--normal;
      }
    }
  }

  &--triple-details {
    display: flex;

    @include media--small {
      flex-direction: column;
    }
  }


  &--triple-detail {
    background-color: $color--gray-light;
    border-radius: $border-radius--large;
    flex-grow: 1;
    width: 50%;
    padding: $vertical-spacing--normal $horizontal-spacing--normal;

    & + & {
      margin-left: $horizontal-spacing--normal;
    }

    @include media--small {
      width: 100%;

      & + & {
        margin-left: 0;
        margin-top: $vertical-spacing--small;
      }
    }
  }
  
  &--triple-detail-header {
    font-weight: bold;
    margin-bottom: $vertical-spacing--small;
    display: block;
  }

  &--triple-detail-list-item {
    display: block;
    margin-left: $horizontal-spacing--small;
  }
}
